* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

form {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 525px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}



input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: solid #603452;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;


}

::placeholder {
    color: #89879b;
}

.btn {
    background-color: #e53854;
    border: solid 2px #e53854;
    cursor: pointer;
}

.btn:hover {
    background-color: #f33f5a;
    border: solid 2px #f33f5a;  
}

@media (max-width:991px) {
    body {
        padding: 30px;
    }

    form {
        width: 340px;
    }
}